*{
    font-family: 'Courier New' ;
}

h3{
    color: purple;
}
h1,h3 {
    color: #b92b27;
}

#login{
    background-color: whitesmoke;
}
#signup{
    background-color: #b92b27;
}
.upvote{
    background-color: green;
}



div[id="myid"] p{
    color :red;
}

        /*or*/
#myid p{
    color:blue;
}

/*descendent selector */
.post a{
    color: pink;
}

nav ul li a{
    color: green;
}

p + h3 {
    text-decoration: underline;
}

.upvote + button {
    background-color: cornflowerblue;
    color: darkblue;
}

div > input {
    background-color: cornsilk;
}

input[type="text"]{
    color: red;
}

input[type="password"]{
    color: green;
}

button:hover{
    background-color: black ;

    color: whitesmoke;
}

h3:hover{
    text-decoration: overline;
}

button:active{
    background-color: pink;
    color: black;
}

p:active{
    font-weight: bold;
    color: green;
}
input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}
.post:nth-last-of-type(2n){
    background-color: mediumaquamarine;
}
h1::first-letter{
    color: green;
    background-color  : pink;
}
p::first-line{
    color: chartreuse;
}
p::selection{
    background-color: rgb(92, 106, 77);
}
 